<div class="container-fluid" ng-controller="TeamCtrl">
  <div class="row">
    <div class="md-col-12" style="margin: 10px">
      <h2>Team Page</h2>
      <h2>{{selectedTeam.name}}</h2>
      <hr>

      <table width="75%" style="border: 1px solid gray">
        <tr aligh="left">
          <td>Player</td>
          <td>Location</td>
          <td align="right">Cap</td>
        </tr>
        <tr ng-repeat="player in selectedTeam.roster">
          <td>{{player.firstName}}</td>
          <td>{{player.lastName}}</td>
          <td align="right">{{player.cap}}</td>
      </table>
    </div>
    <hr>
  </dir>
</dir>
<dir class="container-fluid" ng-controller='SeasonsCtrl'>

  <h1>Seasons Page</h1>
  <select class="ng-valid ng-dirty" ng-model="selectedSeasonName" ng-change="changed()" ng-options="season.name for season in seasons">
    <option value="" ng-if="false"></option>
  </select>
  <br>

  <br>
  <h2>{{selectedSeason.name}}</h2>
  <hr>

  <table width="75%" style="border: 1px solid gray">
    <tr aligh="left">
      <td>Opponent</td>
      <td>Location</td>
      <td align="right">Score</td>
    </tr>
    <tr ng-repeat="game in selectedSeason.games">
      <td><a href="#/tank">{{game.opponent}}</a></td>
      <td>{{game.location}}</td>
      <td align="right">{{game.score}}</td>
  </table>
</div>

<dir class="container-fluid">
    <div class="row">
      <div class="md-col=12"> <!-- Why 25px here -->
        <a href="#/">Home Page</a><br>
        <a href="#/tank">Tank Page</a><br>
        <p>With ♥ from <a href="https://twitter.com/rewind_polo">@rewind_polo</a></p>
      </div> 
    </div>
  </div>
</div>