<div class="container" ng-controller='TeamsCtrl'>

  <h1>Teams Page</h1>
  <select class="ng-valid ng-dirty" ng-model="selectedTeamName" ng-change="changed()" ng-options="team.name for team in teams">
    <option value="" ng-if="false"></option>
  </select>
  <br>

  <br>
  <h2>{{selectedTeam.name}}</h2>
  <hr>

  <table width="75%">
    <tr aligh="left">
      <td>First Name</td>
      <td>Last Name</td>
      <td>Cap Number</td>
    </tr>
    <tr ng-repeat="player in selectedTeam.roster">
      <td>{{player.firstName}}</td>
      <td>{{player.lastName}}</td>
  </table>

  <hr>
  <div class="footer">
  	<a href="#/">Main Page</a><br>
    <p>With ♥ from <a href="https://twitter.com/rewind_polo">@rewind_polo</a></p>
  </div>

</div>